 body {
    margin: 1em;
    padding: 1em;
    background-color: black;
    color: white;
}
/*
#FFCD53
#864800
#512900
#27150B
*/

#signature {
    color: #864800;
    font-size: 13px;
    padding: 1em;
}
body #signature:hover {
    color: #FFCD53;
}
li {
    transition: background-image 1s ease;
}
li:hover {
    /* background-color: #3a2900; */
    /* background-image: linear-gradient(to bottom right, #FFCD53, black); */
    background-image: linear-gradient(to right, #a55800, black);
    max-width: 40em;
}


a {
    color: #FFCD53;
    text-decoration: none;
    transition: color 1s ease;
}

#toggleButton ,#buttonmenu1 , #toggleButton2, #toggleButton3, #toggleButton4, #toggleButton5 ,#toggleButton6,#toggleButton7 {
    background-color: black;
    color: white;
    border: white;
}

/* Ukryj początkowo wysuwany div */
#slideDiv ,#menu1 , #slideDiv2 , #slideDiv3, #slideDiv4, #slideDiv5, #slideDiv6, #slideDiv7 {
    display: none;
    width: 60%;
    height: auto;
    background-color: black;
    padding: 10px;
  }
  
  /* Zastosuj przejście (transition) do płynnego animowania zmiany "max-height" */
  #slideDiv ,#menu1 ,  #slideDiv2 , #slideDiv3, #slideDiv4, #slideDiv5 , #slideDiv6, #slideDiv7 {
    transition: max-height 0.5s ease-out;
  }
  
  /* Pokaż wysuwany div po kliknięciu przycisku */
  #slideDiv.active , #menu1.active , #slideDiv2.active  , #slideDiv3.active , #slideDiv4.active , #slideDiv5.active, #slideDiv6.active, #slideDiv7.active {
    display: block;
    max-height: 300px; /* Ustaw maksymalną wysokość, aby pokazać element */
  }

div {
    padding: 1em;
}

#slideDiv5 li a {
    color:yellow;
    transition: color  1s ease;
}
#slideDiv5 li a:hover  {
    color: black;
}

ul {
    list-style: none;
}

#LightBtn {
    background-color: White;
    color: black;

}

#DarkBtn {
    background-color: black;
    color: White;
}

#DarkBtn, #LightBtn {
    padding: 1em;
    border-radius: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}