html , body {
    margin: 1em;
    padding: 1em;
    background-color: black;
    color: white;
}

a {
    color: blue;
}

#pomofocus {
    background-color: black;
    padding: 1em;
    border-radius: 1em;
    transition: background-color 0.5s ease; /* Dodaj przejście na właściwość background-color */
}
#pomofocus:hover {
    background-color: red;
}
#pomofocus a {
    color: chartreuse;
}

#matemax {
    background-color: black;
    transition: background-color 0.5s ease; /* Dodaj przejście na właściwość background-color */
    padding: 1em;
    border-radius: 1em;
}
#matemax:hover {
    background-color: brown;
}

#duolingo {
    transition: background-color 0.5s ease;
    border-radius: 1em;
    padding: 1em;
}
#duolingo:hover {
    background-color: greenyellow;
    color: black;
}
#duolingo a {
    color: red;
}

#chess {
    transition: background-color 0.5s ease;
    border-radius: 1em;
    padding: 1em;
}
#chess:hover {
    background-color: darkgreen;
}
#chess a {
    color: red;
}

#chat {
    transition: background-color 0.5s ease;
    border-radius: 1em;
    padding: 1em;
}
#chat:hover {
    background-color: aquamarine;
    color: black;
}

#toggleButton , #toggleButton2, #toggleButton3, #toggleButton4, #toggleButton5 ,#toggleButton6 {
    background-color: black;
    border: black;
    color: white;
}

/* Ukryj początkowo wysuwany div */
#slideDiv , #slideDiv2 , #slideDiv3, #slideDiv4, #slideDiv5, #slideDiv6 {
    display: none;
    width: 60%;
    height: auto;
    background-color: black;
    padding: 10px;
  }
  
  /* Zastosuj przejście (transition) do płynnego animowania zmiany "max-height" */
  #slideDiv , #slideDiv2 , #slideDiv3, #slideDiv4, #slideDiv5 , #slideDiv6 {
    transition: max-height 0.5s ease-out;
  }
  
  /* Pokaż wysuwany div po kliknięciu przycisku */
  #slideDiv.active  , #slideDiv2.active  , #slideDiv3.active , #slideDiv4.active , #slideDiv5.active, #slideDiv6.active {
    display: block;
    max-height: 300px; /* Ustaw maksymalną wysokość, aby pokazać element */
  }

div {
    padding: 1em;
}